:root {
  --columbia-blue: #a6cce0ff;
  --picton-blue: #13b2f5ff;
  --bondi-blue: #0094b7ff;
  --resolution-blue: #212696ff;
  --azure: #1377e0ff;
  --prussian-blue: #023151ff;
  --celeste: #b5f2f4ff;
  --celtic-blue: #4b76caff;
  --oxford-blue: #002146ff;
}
